<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Prisijungimas{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body class="bg-light">

{% block body %}{% endblock %}

</body>
</html>